.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.Collapsible {
  background-color: #282828;
  color: #fbf1c7;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .Collapsible:hover {
  background-color: #1d2021;
}

.Collapsible:after {
  content: '\002B';
  color: #fbf1c7;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  width: 80%;
  margin: 0 auto;
}

.content p {
  font-size: 15px;
  color: #282828;
  font-weight: lighter;
}

@media only screen and (max-width: 650px) {
  .Collapsible {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}